*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #151C2C;
}
.inter{
    font-family: 'Inter', serif;
}
.w-27{
    width: 27%;
}
.w-20{
    width: 20%;
}
.nav-left{
    border: 1px solid black;
    min-height: 100vh;
    background-color: #222B40;
}
.nav-admin{
    color: white;
}
.nav-admin span{
    font-family: 'Inter', serif;
}
.nav-title{
    font-size: 15px;
    font-weight: 600;
}
.logo{
    
}
.logo a{
    text-decoration: none;
}
.logo-left{
    background-color: white;
    color: black;
    font-weight: 700;
    font-size: 18px;
    font-family: 'Inter', serif;
}
.logo-right{
    color: white;
    font-weight: 700;
    font-size: 18px;
    font-family: 'Inter', serif;
}
.top-nav{
    background-color: #182237;
}
.top-nav a{
    text-decoration: none;
}
.dashboard a{
    font-family: 'Inter', serif;
    font-size: 18px;
    color: white;
}
.icon-nav i{
    color: #90959F;
}
.pos-nav{
    color: white;
}
.pos-nav span{
    color: #7969E1;
}
.icon-nav-log i{
    color: white;
}
.content-admin{
    height: 100%;
    background-color: #151C2C;
    width: 100%;
}
.flex-content{
    background-color: #151C2C;
}
.body-top{
    height: 4.5em;
    background-color: #151C2C;
}
.body-title{
    color: white;
    height: 100%;
}
.body-title span{
    font-family: 'Inter', serif;
    font-weight: 500;
    font-size: 16px;
}
.body-center{
    width: 95%;
    border-radius: 5px;
    margin: 0 auto;
}
.active{
    background-color: #182237;
    border-radius: 5px;
}
.active a{
    text-decoration: none;
    color: #F8B940;
}
.hover-dashboard a{
    color: white;
    text-decoration: none;
}
.hover-dashboard:hover{
    background-color: #182237;
    color: #F8B940 !important;
    border-radius: 5px;
}
.hover-dashboard:hover a{
    color: #F8B940 !important;
}
.monthly{
    background-color: #182237;
    border-radius: 10px;
}
.title-body{
    color: #F8B940;
    font-size: 20px;
    font-weight: 600;
}
.table-today{
    border: 1px solid white;
    border-radius: 14px;
    background-color: #060b287a;
}
.icon-today i{
    color: #FEC53D;
    font-size: 30px;
}
.today-title{
    color: #888888;
    font-size: 15px;
}
.today-sub{
    color: white;
    font-size: 20px;
}