*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
.w-10{
    width: 10%;
}
.w-15{
    width: 15%;
}
.banner {
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("/web/assets/img/banner.png");
    text-align: center;
}

.banner h1 {
    font-family: 'Vidaloka', serif;
}

.banner p {
    color: #8B6E4A;
    font-family: 'Myanmar Sans Pro';
    font-size: 16px;
}

.banner a {
    text-decoration: none;
    color: #8B6E4A;
    font-family: 'Myanmar Sans Pro';
    
}
.a{
    background-color: #D9D9D9;
}
.Dongle
{
    font-family: 'Dongle' , serif;
    font-size: 30px;
    font-weight: 600;
}
.textbody,
p{
    font-family: 'Dongle' , serif;
    font-size: 30px;
}
.operator{
    background-color: #EDEDED;   
}
.checkout{
    background-color: #6F0505;
    color: #FFFFFF;
    margin: 20px;
    border-radius: 5px;
}
.trash{
    cursor: pointer;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
